// variables---------------------

// colors
$primary:#212121;
$lightblue:#cde9f5;

// fonts
$jp-font:Georgia, "游明朝", "Yu Mincho", "游明朝体", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho ProN", "MS P明朝", "MS PMincho", HGS明朝E, "MS Mincho", serif;
$en-font: 'Cormorant Garamond';
$arrow-font: 'Oswald';
$more-font:'Montserrat';

// -------------------------------
*{
    box-sizing: border-box;
    color:$primary;
    font-family:$jp-font;

}
body{
    background: url("../images/bg.jpg");

}
// fv-----------------------------
.fv{
    width: 100%;
    position: relative;

    .nav{
        display: none;
    }

    &::before{
        content: "";
        position: absolute;
        background:url("../images/fv.jpg") no-repeat;
        background-position: 60% 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: .4;
    }
   
    .nav-sm{
        padding: 5% 0 90% 5%;
        display: flex;
        justify-content: space-between;

        .logo{
            width: 30%;
            img{
                width: 100%;
            }
        }
        .ham{
            width: 10%;
            position: relative;
            img{
                width: 100%;
                position: absolute;
                top: -3%;
            }

        }
    }
    .menu-sm{
        display: none;
        height: 100vh;
        font-family: $jp-font;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        z-index: 999;

        .close{
            width: 10%;
            position: relative;
            margin: 10% 5% 0 auto;

            &::before{
                content: "";
                position: absolute;
                width: 10vw;
                height: 1vw;
                background-color: $primary;
                transform: rotate(45deg);
            }
            &::after{
                content: "";
                position: absolute;
                width: 10vw;
                height: 1vw;
                background-color: $primary;
                transform: rotate(-45deg);
            }
        } 

        .menu-wrap{
            padding: 10% 10%;
            .menu-list{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10%;
                font-size: 13px;
                line-height: 2rem;
                letter-spacing: 1px;
                ul{
                    P{
                    transform: translateX(-10%);

                    }
                }
                .menu-icons{
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10%;
                    .menu-iconswrap{
                        width: 32%;
                        img{
                            width: 100%;
                        }
                    }
                }

            }
            .menu-button{
                padding: 5% 0;
                text-align: center;
                width: 100%;
                background-color: $primary;
                color: #fff;
            }
        }
    }
    .f-content{
        padding-top: 100%;
        position: relative;

        .f-cardwrap{
            width: 100%;
            position: absolute;
            bottom: 0;

            .f-card{
                font-family: $en-font;
                padding-left: 7%;

                .f-title{
                    font-size: 50px;
                    margin-bottom: 7%;
                }

                .f-text{
                    font-family: $jp-font;
                    font-size: 16px;
                    line-height: 2rem;
                    letter-spacing: .15rem;
                    margin-bottom: 15%;
        
                }

                .f-infowrap{
                    font-family: $en-font;
                    font-weight: 600;
                    font-size: 13px;
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 2%;
        
                    .f-date{
                        margin-right: 15%;
                        font-style: italic;
                        letter-spacing: .08rem;
                    }

                    .f-info{
                        letter-spacing: .08rem;
        
                    }
                }
            }
            .f-linkwrap{
                background: url("../images/bg.jpg");

                .f-link{
                    width: 85%;
                    padding: 5% 0 3% 5%;
                    background-color: white;
            
                    li{
                        width: fit-content;
                        font-size: 12px;
                        letter-spacing: .1rem;
                        font-family: $jp-font;
                        margin-bottom: 3%;
                        list-style: none;
                        border-bottom: 1px solid $primary;
                        padding-bottom: 2px;
        
                    }
                }
            }
            
            .f-scroll{
                position: absolute;
                right: 3%;
                bottom: 13%;

                .s-words{
                    writing-mode: vertical-lr;
                    font-family: $arrow-font;
                    font-size: 6px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    margin-bottom: 50%;

                }
                .s-arrow{
                    width: 50%;

                    img{
                        width: 100%;
                    }

                }
            }
        }

    }


}

// spirit-------------------------
.spirit{
    .s-blank{
        background-color: #fff;
        width: 50%;
        height: 30vw;
    }
    .s-content{
        background-color: #fff;
        position: relative;
        text-align: center;
        padding-bottom: 20%;

        .s-title{
            width: 100%;
            position: absolute;
            transform: translateY(-55%);
            font-family: $en-font;
            font-size: 60px;

            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) rotate(-45deg);
                width: 30vw;
                height: 1px;
                background-color:$lightblue;
                z-index: -1;
            }
        }

        h3{
            padding-top: 15%;
            font-family: $jp-font;
            font-size: 20px;
            margin-bottom: 5%;
        }

        p{
            font-size: 14px;
            font-family: $jp-font;
            line-height: 2rem;
            letter-spacing: 2px;

        }
    }

}

// service------------------------
.service{
    .se-titlewrap{
        width: 100vw;
        height: 80vw;
        position: relative;

        .se-title{
            width: 70%;
            background-color: #fff;
            position: absolute;
            right: 0;
            bottom: 0;

            .se-wordwrap{
                padding-right: 7%;
                text-align: right;
                font-family: $jp-font;

                h2{
                    margin-top: 15%;
                    font-family: $en-font;
                    font-size: 60px;

                    &::before{
                        content: "";
                        position: absolute;
                        top: 35%;
                        right: 0;
                        transform:rotate(-45deg);
                        width: 30vw;
                        height: 1px;
                        background-color:$lightblue;
                        // z-index: -1;
                    }
                }

                span{
                    font-size: 12px; 
                    font-weight: 600; 
                }

                h3{
                    font-size: 18px; 
                    line-height: 2rem;
                    margin-top: 5vw;

                }
            }


        }
    }

    .se-cardwrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10% 10% 5% 10%;
        background-color: #fff;
        position: relative;


        .se-card{
            width: 35vw;
            height: 35vw;
            margin-bottom: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow:hidden;
            
            &::before{
                content: "";
                position: absolute;
                width: 35vw;
                height: 35vw;
                background-color: #ffffffcb;
            }


            .se-cardname{
                font-family: $jp-font;
                position: absolute;
                text-align: center;
                line-height: 1.3rem;
                letter-spacing: 1.5px;
                font-size: 14px;
                z-index: 99;

                span{
                    font-size: 13px;
                    font-weight: 600;
                    letter-spacing: 1px;

                }
            }
            .se-icons{
                position: absolute;
                width: 10vw;

            }

            .se-imgs{
                width: 100%;


            }
        }
        .more.adj{
            right: 14%;
            bottom: -7%;
        }
    }

}

// works--------------------------
.works{
    padding-bottom: 30%;
    position: relative;
    .w-titlewrap{
        width: 100vw;
        height: 80vw;
        position: relative;

        .w-title{
            width: 90%;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;

            .w-wordwrap{
                text-align: left;
                padding-left: 7%;
                padding-bottom: 8%;
                font-family: $jp-font;

                h2{
                    margin-top: 10%;
                    font-family: $en-font;
                    font-size: 60px;

                    &::before{
                        content: "";
                        position: absolute;
                        top: 35%;
                        left: 0;
                        transform:translateX(6%) rotate(-45deg);
                        width: 30vw;
                        height: 1px;
                        background-color:$lightblue;
                        // z-index: -1;
                    }
                }
                
                span{
                    font-size: 12px; 
                    font-weight: 600; 
                }

                h3{
                    font-size: 18px; 
                    line-height: 2rem;
                    margin-top: 5vw;

                }

            }
        }
    }
    .w-cardwrap{
        .w-card{
            padding: 10% 7% 5% 7%;
    
            .w-imgwrap{
                width: 100%;
                margin-bottom: 5%;
    
                img{
                    width: 100%;
                }
            }
            .w-title{
                font-family: $jp-font;
                line-height: 1.5rem;
                text-align: justify;
            }
        }
    }

    .slider-dots.adj{
        padding: 0 7%;
    }
    .more.adj{
        right: 14%;
        bottom: 3%;
    }
   
}

// blog---------------------------
.blog{ 
    background-image: linear-gradient(#fff
     43%,  transparent 43%);
    padding: 25% 7% 40% 7%;
    position: relative;
        
    .b-wordwrap{
        text-align: left;
        padding-bottom: 8%;
        font-family: $jp-font;

        h2{
            font-family: $en-font;
            font-size: 60px;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                top: 65%;
                left: 0;
                transform:translateX(-15%) rotate(-45deg);
                width: 30vw;
                height: 1px;
                background-color:$lightblue;
                // z-index: -1;
            }
        }
        
        span{
            font-size: 12px; 
            font-weight: 600; 
        }

        h3{
            font-size: 18px; 
            line-height: 2rem;
            margin-top: 5vw;

        }

    }
    .b-card{
        font-family: $jp-font;
        margin-bottom: 5%;

        .b-imgwrap{
            width: 100%;
            margin-bottom: 5%;

            img{
                width: 100%;
            }

        }
        .b-content{
            .b-info{
                line-height: 1.5rem;
                text-align: justify;
                margin-bottom: 5%;
            }
            .b-tag-l{
                display: flex;
                flex-wrap: wrap;

                p{
                    margin:0 5% 3% 0;
                    font-size: 12px;
                    letter-spacing: 2px;
                }

            }
            .b-tag-s{
                display: flex;
                flex-wrap: wrap;

                p{
                    margin:0 5% 3% 0;
                    font-size: 12px;
                    letter-spacing: 2px;
                }

            }
            .b-date{
                font-size: 12px;
            }
        }
    }
    .slider-dots.adj{
        width: 70%;
    }
    .more.adj{
        right: 14%;
        bottom: 5%;
    }
}

// recruit------------------------
.recruit{
    padding: 25% 7% 35% 7%;
    background-color: #fff;
    font-family: $jp-font;
    position: relative;

    .r-title{
    display: flex;
    margin-bottom: 5%;

        h2{
            font-family: $en-font;
            font-size: 40px;
            line-height: 7px;
            margin-right: 7%;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform:translateX(-15%) rotate(-45deg);
                width: 20vw;
                height: 1px;
                background-color:$lightblue;
                // z-index: -1;
            }
        }

        p{
            line-height: normal;
            font-size: 13.5px;
            font-weight: 600;
        }

    }
    p{
        letter-spacing: 2px;
        text-align: justify;
        line-height: 1.5rem;
        margin-bottom: 7%;
    }
    .r-imgwrap{
        img{
            width: 100%;
        }
    }
    .more.adj{
        right: 14%;
        bottom: 5%;
    }
}

// media--------------------------
.media{
    background-color: #fff;
    margin-top:20%;
    padding: 18% 7% 15%;

    .m-title{
        display: flex;
        margin-bottom: 10%;
        font-family: $jp-font;
    
            h2{
                font-family: $en-font;
                font-size: 40px;
                line-height: 7px;
                margin-right: 7%;
                position: relative;
    
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform:translateX(-15%) rotate(-45deg);
                    width: 20vw;
                    height: 1px;
                    background-color:$lightblue;
                    // z-index: -1;
                }
            }
    
            p{
                line-height: normal;
                font-size: 13.5px;
                font-weight: 600;
            }
    }
    .m-images{
        display: flex;
        flex-wrap: wrap
        ;
        .m-imgwrap{
            width: 50%;

            img{
                width: 100%;
            }
        }
    }
}

// footer-------------------------
.footer{
    font-family: $jp-font;

    .foo-wrap{
    padding: 20% 7%;

        .foo-logo{
            width: 30%;
            img{
                width: 100%;
            }
        }
        .foo-linkswrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            letter-spacing: 1.5px;
            margin-top: 5%;
            line-height: 2rem;
            font-size: 13px;
    
            .foo-service{
               position: relative;
    
                li{
                    &::before{
                        content: "";
                        position: absolute;
                        transform: translate(-3vw, 4vw);
                        width: 1vw;
                        height: 1.5px;
                        background-color: $primary;
                    }
                }
            }
        }
        .foo-linkswrap-pc{
            display: none;
        }
    }
    
    .foo-info{
        padding: 5% 7% 15%;
        background-image:linear-gradient( 90deg, #fff 65%,transparent 65%);
        position: relative;

        .company-name{
            font-size: 14px;
            line-height: 1.5rem;

            .com-jp{ 
                transform: translateX(-10px)

            }

        }
        .company-add{
            font-size: 12px;
            line-height: 1.3rem;
            margin-bottom: 5%;
            letter-spacing: 1px;
        }
        .company-add-pc{
            display: none;

        }
        .copyright{
            font-size: 12px;
            color: #bdbdbd;
        }
        .icon-top{
            width: 7%;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: #fff;

            .foo-iconwrap{
                margin-left: 50%;
                width: fit-content;
                transform: translate(-20%,-30%);

                .foo-imgwrap{
                    width: 2vw;
                    transform: rotate(180deg) translateX(15%);

                    img{
                        width: 100%;
                    }
                }
                .icon-text{
                    writing-mode: vertical-lr;
                    font-family: $arrow-font;   
                    font-size: 12px;
                    letter-spacing: 1px;
                    transform: translate(-30%,50%);    
                }

            }

        }

    }

}

// components
// slider-dots--------------------
.slider-dots{
    display: flex;
    justify-content: space-between;

    .arrow-wrap{
        width:5vw;

        img{
            width: 100%;
        }
    }

    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;

        li{
            width: 1.8vw;
            height: 1.8vw;
            border-radius: 50%;
            border: 1px solid #c2c2c2;
        }
    }
  
}

// MORE-icon----------------------
.more{
    width: 40%;
    display: flex;
    position: absolute;

    &::after{
        content:"";
        position: absolute;
        bottom: 40%;
        width: 46vw;
        height: 2px;
        background-color: $primary;
    }
    

    span{
        color: $lightblue;
        font-size: 12px;
        line-height: 1rem;
        margin-right: 10%;
    }
    p{
        font-family: $more-font;
        letter-spacing: 2px;
        margin-right: 15%;
        font-weight: bold;
        font-size: 14px;

    }
    .icon-wrap{
        width: 1.5vw;
        transform: rotate(-90deg) translateX(-100%);
        transform-origin: 100% 0;
        img{
            width: 100%;
        }
    }
   
}

// RWD----------------------------

@media screen and (min-width: 576px){
    //fv -------------------------
    .fv{

        &::before{
            content: "";
            background-size: 100%;
        }
        .nav{
            width: 100%;  
            display: block;
            font-family: $jp-font;
            display: flex;
            justify-content: space-between;
            position: absolute;  

            .logo-lg{
                width: 12%;
                padding: 2% 2.5%;

                img{
                    width: 100%;
                }
            }
            .menu-lg{
                width: 55%;
                display: flex;
                font-size: 16px;
                font-weight: 600;
                justify-content: end;
                letter-spacing: 2px;

                ul{
                    display: flex;
                    width: 100%;
                    justify-content: end;

                    li{
                        padding: 4.5% 2%;
                    }
                    .adj{
                        padding-right: 3%;
                    }
                    .menu-btn{
                        padding: 4.5% 3.5%;
                        background-color:$primary;
                        color: #fff;
                    }

                }
            }
        }
        .nav-sm{
            display: none;
        }
        .f-content{
            padding-top: 49.53%;

            .f-cardwrap{
                top: 35%;

                .f-card{
                    padding-left: 14.7%;
                    position: relative;
    
                    .f-title{
                        font-size: 100px;
                        margin-bottom: 3%;
                    }
    
                    .f-text{
                        font-size: 28px;
                        line-height: 4rem;
                        margin-bottom: 11%;
            
                    }
    
                    .f-infowrap{
                        font-size: 12px;
                        width: 10%;
                        position: absolute;
                        left: 3%;
                    }
                }

                .f-linkwrap{
                    width: 35%;
                    background: 0;
                    position: absolute;
                    bottom:0;
                    
                    .f-link{
                        width:100%;
                        padding: 4% 0 4% 6%;
                        background-color: white;

                        ul{
                            display: flex;

                            li{
                                font-size: 14px;
                                letter-spacing: .15rem;
                                margin-bottom: 0;
                                padding-bottom: 2px;
            
                            }

                        }
                        
                    }
                }
                .f-scroll{
                    position: absolute;
                    right: 1.3%;
                    bottom: 8%;
    
                    .s-words{
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: 2px;
                        margin-bottom: 50%;
    
                    }
                    .s-arrow{
                        width: 50%;
                        transform: translateX(25%);
    
                        img{
                            width: 100%;
                        }
    
                    }

            }
        }
    }
    }

    // spirit-------------------------
    .spirit{
        .s-blank{
            height: 20vw;
        }
        .s-content{
            padding-bottom: 7%;
            transform: translateY(-30%);
            background-color: transparent;
            background-image: linear-gradient(90deg,transparent 30%,#fff 30%);

            .s-title{
                font-size: 90px;

                &::before{
                    width: 9vw;
                    height: 1px;
                }
            }

            h3{
                padding-top: 5.5%;
                font-family: $jp-font;
                font-size: 30px;
                letter-spacing: 3px;
                margin-bottom: 2.5%;
            }

            p{
                font-size: 16px;
                font-family: $jp-font;
                line-height: 2rem;
                letter-spacing: 2px;

            }
        }

    }

    // service -----------------------
    .service{
        position: relative;

        &::after{
            content: "";
            position: absolute;
            width: 10vw;
            height: 220%;
            right: 0;
            top: -18%;
            background-color: #fff;
        }


        .se-titlewrap{
            width: 100%;
            height: 0;
    
            .se-title{
                width: 40%;
                height: 100%;
                z-index: 99;
                top: 8vw;

                &::before{
                    content: "";
                    background-color: #fff;
                    height: 23vw;
                    position: absolute;
                    width: 32vw;
                    right: 0;
                    top: 0;
                    z-index: -1;
                
                }
    
                .se-wordwrap{
                    padding-right: 53%;
    
                    h2{
                        margin-top: 15%;
                        font-size: 110px;
                        margin-bottom: 3%;
    
                        &::before{
                            top: 6vw;
                            left: 28%;
                            width: 9vw;
                            height: 1.5px;

                        }
                    }
    
                    span{
                        font-size: 20px; 
                        letter-spacing: 2px;

                    }
    
                    h3{
                        font-size: 32px; 
                        line-height: 3.5rem;
                        margin-top: 3vw;
                        letter-spacing: .2rem;
    
                    }
                }
    
    
            }
        }
    
        .se-cardwrap{
            width: 68%;
            // transform: translateY(-50%);
            padding: 6% 12% 1.5% 20%;


    
            .se-card{
                width: 10vw;
                height: 10vw;
                margin: 0 1% 10% 1%;
                
                &::before{
                    width: 10vw;
                    height: 10vw;
                }
    
                .se-cardname{
                    line-height: 1.8rem;
                    font-size: 18px;
    
                    span{
                        font-size: 16px;
    
                    }
                }

                .se-icons{
                    width: 2.3vw;
    
                }

            }
            .more.adj{
                right: -7.5%;
                bottom: 17%;
            }
        }
    
    }
    // works--------------------------
    .works{
        padding-bottom: 5%;

        .w-titlewrap{
            width: 100%;
            height: 18vw;

            .w-title{
                width: 66%;

                .w-wordwrap{
                    padding: 2% 0 2.5% 30%;
                    display: flex;

                    h2{
                        margin-top: 2%;
                        font-size: 110px;

                        &::before{
                            top: 52%;
                            left: 28%;
                            transform:translateX(0%) rotate(-45deg);
                            width: 11vw;
                            height: 1.5px;
                            // z-index: -1;
                        }
                    }
                    
                    span{
                        font-size: 20px; 
                    }

                    h3{
                        font-size: 32px; 
                        line-height: 2rem;
                        margin: 3vw 0 0 3.5vw;

                    }

                }
            }
        }
        .w-cardwrap{
            display: flex;
            justify-content: space-between;

            .w-card{
                width: 20%;
                padding: 4% 0 3%;
    
                .w-imgwrap{
                    width: 90%;
                    margin: 0 auto 5%;
    
                    img{
                        width: 100%;
                    }

                }
                .w-title{
                    width: 90%;
                    font-size: 18px;
                    margin: auto ;

                }
            }
        }

      

        .slider-dots.adj{
            padding: 0 3%;
            width: 25%;
            margin-left: 18%;

        }
    

        .more.adj{
            width: 9%;
            right: 25%;
            bottom: 8%;
        }
    
    }

    // blog---------------------------
    .blog{ 
        background-image: linear-gradient(#fff
        46%,  transparent 46%);
        padding: 8% 0 5%;

        &::after{
            content: "";
            position: absolute;
            width: 10vw;
            height: 150%;
            left: 0;
            top: 0;
            background-color: #fff;
            z-index: -1;
        }
            
        .b-wordwrap{
            text-align: left;
            padding-bottom: 3%;
            margin-left: 20%;
            display: flex;
            
            .b-titlewrap{
                h2{
                    font-size: 110px;
    
                    &::before{
                        width: 11vw;
                        height: 1.5px;
                        // z-index: -1;
                    }
                }
                
                span{
                    font-size: 20px; 
                }
            }


            h3{
                font-size: 32px; 
                margin: 3.5% 0 0 5%;
            }

        }
        .b-cardwrap{
            display: flex;
            justify-content: space-between;

            .b-card{
                width: 20%;
                margin-bottom: 5%;
    
                .b-imgwrap{
                    width: 90%;
                    margin: 0 auto 6%;
    
                }
                .b-content{
                    width: 90%;
                    margin: auto;

                    .b-info{
                        line-height: 2rem;
                        text-align: start;
                        margin-bottom: 5%;
                        letter-spacing: 1.5px;
                        font-size: 20px;
                    }
                    .b-tag-l{

                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .slider-dots.adj{
            width: 12%;
            margin-left: 21%;
        }
        .more.adj{
            width: 9%;
            right: 25%;
            bottom: 8%;
        }
    }

    // recruit------------------------
    .recruit{
        padding: 5% 0 0 25%;
        background-color:transparent;
        background-image: linear-gradient(90deg, transparent 20%,#fff 20%);
        display: flex;

        .r-titlewrap{
            width: 31%;
            margin-right: 6%;

            .r-title{
                display: flex;
                margin-bottom: 0%;

                h2{
                    font-size: 60px;
                    line-height: 8px;
                    margin-right: 2%;

                    &::before{
                        width: 6vw;
                        height: 1.5px;
                        // z-index: -1;
                    }
                }
                p{
                    font-size: 20px;
                    margin-bottom: 0%;
                }

            }
            p{
                font-size: 20px;
                letter-spacing: 2px;
                text-align: start;
                line-height: 2rem;
                margin: 0%;
            }
        }
        .r-imgwrap{
            width: 35%;
            transform: translateY(-31%);

        }
        .more.adj{
            width: 9%;
            left: 25%;
            bottom: 13%;
        }
    }

    // media--------------------------
    .media{
        margin-top:5%;
        padding: 7% 0 6% 0;

        .m-title{
            margin: 0 0 0 20%;
        
                h2{
                    font-size: 60px;
                    line-height: 9px;
                    margin-right: 2%;
        
                    &::before{
                        width: 7vw;
                        height: 1.5px;
                        // z-index: -1;
                    }
                }
                p{
                    font-size: 22px;
                }
        }
        .m-images{
            justify-content: center;

            .m-imgwrap{
                width: 10%;

            }
        }
    }

    // footer-------------------------
    .footer{

        .foo-wrap{
            padding: 6% 2% 3%;
            display: flex;

            .foo-logo{
                width: 8%;
                margin-right: 4%;

            }
            .foo-linkswrap{
                display: none;
            
            }
            .foo-linkswrap-pc{
                width: 100%;
                display: flex;
                line-height: 2.2rem;
                font-size: 13px;

                .foo-links-pc{
                    width: 55%;
                    display: flex;

                    .foo-links-sm{
                        width: 100%;
                        margin-right: 0%;

                        li{
                            list-style: none;
                        }
                        .foo-service{
                            position: relative;
                    

                        }

                    }
                    

            
                }
        

            }
        }
        
        .foo-info{
            padding: 1% 2% 3%;
            background-image:linear-gradient( 90deg, #fff 26%,transparent 26%);

            .company-name{
                font-weight: 600;
                letter-spacing: 2px;
                display: flex;

                .com-jp{ 
                    transform: translateX(-10px);
                    margin-left: .5%;

                }

            }
            .company-add{
                display: none;

            }
            .company-add-pc{
                display: block;
                font-size: 12px;
                line-height: 1.3rem;
                margin-bottom: 1%;
                letter-spacing: 1px;
            }

            .icon-top{
                width: 4%;
                height: 100%;


                .foo-iconwrap{
                    transform: translate(0,-50%);
                    margin-left: 50%;

                    .foo-imgwrap{
                        width: .5vw;
                        transform: rotate(180deg) translateX(15%);


                    }
                    .icon-text{
                        font-size: 16px;
                    }

                }

            }

        }

    }

    // MORE-icon----------------------
    .more{
        width: 13%;
        justify-content: space-between;
    
        &::after{
            bottom: 45%;
            width: 13.2vw;
            height: 2.5px;
        }
        
        span{
            font-size: 14px;
        }
        p{
            margin-right: 5%;
            font-size: 18px;
    
        }
        .icon-wrap{
            width: .4vw;
            transform: translate(-50%,7%) rotate(-90deg);
    
        }
       
    }

    // slider-dots--------------------
    .slider-dots{

        .arrow-wrap{
            width:1.5vw;
        }

        ul{
            li{
                width: .5vw;
                height: .5vw;
                border: 2px solid #c2c2c2;
            }
        }
    
    }


}

